[submodule "docker-h5ai"]
	path = docker-h5ai
	url = https://github.com/einverne/docker-h5ai.git
[submodule "docker-nginx-google"]
	path = docker-nginx-google
	url = https://github.com/einverne/docker-nginx-google.git
[submodule "netdata"]
	path = netdata
	url = https://github.com/firehol/netdata.git
[submodule "docker-squid"]
	path = docker-squid
	url = https://github.com/einverne/docker-squid.git
[submodule "weibo-rss"]
	path = weibo-rss
	url = https://github.com/einverne/weibo-rss.git
[submodule "docker-yourls"]
	path = docker-yourls
	url = https://github.com/einverne/docker-yourls.git
[submodule "docker-tt-rss"]
	path = docker-tt-rss
	url = https://github.com/einverne/docker-tt-rss.git
[submodule "docker-flexget"]
	path = docker-flexget
	url = https://github.com/einverne/docker-flexget
[submodule "docker-rutorrent"]
	path = docker-rutorrent
	url = https://github.com/einverne/docker-rutorrent
