version: '3'

services:
  qm-music:
    container_name: qm-music
    image: qmmusic/qm-music:latest
    restart: always
    ports:
      - "6688:6688"
    volumes:
      - ${MUSIC_DIR_PATH}:/data/qm-music/music_dir
      - ${QM_MUSIC_PATH}/db:/data/qm-music/db
      - ${QM_MUSIC_PATH}/cache:/data/qm-music/cache
    environment:
      - QM_FFMPEG_ENABLE=true
      - TZ=Asia/Shanghai
      - QM_SPOTIFY_ENABLE=false
      - QM_SPOTIFY_CLIENT_ID=${QM_SPOTIFY_CLIENT_ID}
      - QM_SPOTIFY_CLIENT_SECRET=${QM_SPOTIFY_CLIENT_SECRET}
      - QM_LASTFM_ENABLE=false
      - QM_LASTFM_API_KEY=${QM_LASTFM_API_KEY}
      - QM_REFRESH_AUTO=true
